:root {
    --primary-accent: #F27D28;
    --white-accent: #EFEFEF;
    --black-accent: #3f3f3f;

    --display-background: #343434;
    --previous-data-accent: #949494;
    --number-button: #D7D7D7;
    --action-button: #5E5E5E;
    --clear-data-button: #F46464;
    --calculator-background: #181818;

    --body-background: #d3d3d3;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--body-background);

    font-family: 'Nunito', sans-serif;
    color: var(--black-accent);
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;
}

/* General styles */

/* Header */

header {
    margin: 20px 0;
}

.logo {
    width: 450px;
    height: 120px;
    background-color: #f0a169;

    font-size: 1.5em;
}

/* Calculator */

.calculator-section {
    flex: 1;
    display: flex;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 362.5px;
    height: 450px;
    padding: 15px;

    background-color: var(--calculator-background);
    border-radius: 10px;

    filter: drop-shadow(15px 15px 0px rgba(0, 0, 0, 0.12));
}

/* Calculator: Display */

.display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    height: 87px;

    font-family: 'Martian Mono', monospace;
    padding: 10px 15px;
    text-align: right;

    background-color: var(--display-background);
    border-radius: 2px;
}

.display div {
    white-space: nowrap;
}

#previous-data {
    color: var(--previous-data-accent);
    font-size: 1.04em;
    margin-bottom: 4px;    
}

#current-data {
    color: var(--white-accent);
    font-size: 2.25em;
}

/* Calculator: Buttons */

.buttons {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
}

.buttons button {
    font-family: inherit;
    font-size: 1.3em;
    font-weight: 700;

    border: none;
    border-radius: 5px;
    padding: 0;

    transition: 200ms;
}

.buttons button:hover {
    scale: 1.05;
    transition: 200ms;

    cursor: pointer;
}

.buttons button:active,
.buttons button.pressed {
    scale: 0.97;
    transition: 75ms;
}

.action-button:active,
.action-button.pressed {
    filter: brightness(140%);
}

.number-button:active,
.number-button.pressed {
    filter: brightness(75%);
}

.action-button {
    background-color: var(--action-button);
    color: var(--white-accent);
}

#all-clear {
    background-color: var(--clear-data-button);
}

#equals {
    background-color: var(--primary-accent);
    grid-row: span 2;
}

.number-button {
    background-color: var(--number-button);
}

#num-0 {
    grid-column: span 2;
}

/* View source code */

.view-source-code-section {
    margin: 35px 0;
}

#source-code-button {
    background-color: var(--primary-accent);
    border: none;
    border-radius: 12px;
    padding: 25px 35px; 

    font-family: inherit;
    font-size: 1.25em;
    font-weight: 800;
    color: var(--white-accent);

    transition: 200ms;
}

#source-code-button:hover {
    scale: 1.07;
    cursor: pointer;
    transition: 200ms;
}

#source-code-button:active {
    scale: 1;
    filter: brightness(140%);
    transition: 75ms;
}

/* Footer */

footer {
    margin: 20px 0;
    font-size: 1.05em;
}

footer a {
    color: var(--primary-accent);
    font-weight: 700;
    text-decoration: none;
}