:root {
    --primary-accent: #F27D28;
    --white-accent: #EFEFEF;

    --display-background: #343434;
    --previous-data-accent: #949494;
    --number-button: #D7D7D7;
    --operator-button: #5E5E5E;
    --clear-data-button: #F46464;
    --calculator-background: #181818;

    --body-background: #d3d3d3;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--body-background);

    font-family: 'Nunito', sans-serif;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;
}

/* General styles */

/* Header */

header {
    margin: 20px 0;
}

.logo {
    width: 450px;
    height: 120px;
    background-color: #f0a169;

    font-size: 1.5em;
}

/* Calculator */

.calculator-section {
    flex: 1;
    display: flex;
    align-items: center;
}

.calculator {
    width: 362.5px;
    height: 450px;
    padding: 15px;

    background-color: var(--calculator-background);
    border-radius: 10px;
}

.display {
    font-family: 'Martian Mono', monospace;
    padding: 10px 15px;
    text-align: right;

    background-color: var(--display-background);
    border-radius: 2px;
}

.previous-data {
    color: var(--previous-data-accent);
    font-size: 1.15em;
    margin-bottom: 2px;
}

.current-data {
    color: var(--white-accent);
    font-size: 2.25em;
}

/* View source code */

.view-source-code-section {
    margin: 35px 0;
}

.source-code-button {
    background-color: var(--primary-accent);
    border: none;
    border-radius: 12px;
    padding: 25px 35px; 

    font-family: inherit;
    font-size: 1.25em;
    font-weight: 800;
    color: var(--white-accent);
}

/* Footer */

footer {
    margin: 20px 0;
    font-size: 1.05em;
}

footer a {
    color: var(--primary-accent);
    font-weight: 700;
    text-decoration: none;
}